 <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fuel and Vehicle Tracking Systems</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='bluma.min.css') }}" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>
<script>
document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
</script>

<body>
    <section class="hero is-primary is-fullheight">
           <div class="hero-head">
            <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
           <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
             <span aria-hidden="true"></span>
             <span aria-hidden="true"></span>
             <span aria-hidden="true"></span>
           </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                            <a href="{{ url_for('index') }}" class="navbar-item">
                                Home 
                            </a>
                            {% if current_user.is_authenticated %}
                                <a href="{{ url_for('profile') }}" class="navbar-item">
                                    Profile
                                </a>
                            {% endif %}
                            {% if not current_user.is_authenticated %}
                                <a href="{{ url_for('login') }}" class="navbar-item">
                                    Login
                                </a>
                            {% endif %}

                            {% if current_user.is_authenticated and current_user.role == "admin" %}
                                <a href="{{ url_for('register') }}" class="navbar-item">
                                    Register User
                                </a>
                            {% endif %}
                           {% if current_user.is_authenticated and current_user.role == "user" %}
                                <a href="{{ url_for('view_fuel_info') }}" class="navbar-item">
                                    View Fuel Hostory
                                </a>
                           {% endif %}
                           {% if current_user.is_authenticated and current_user.role == "user" %}
                                <a href="{{ url_for('view_vehicle_info') }}" class="navbar-item">
                                    Track Vehicle
                                </a>
                           {% endif %}
                           {% if current_user.is_authenticated and current_user.role == "user" %}
                                <a href="{{ url_for('view_vehicle_info_raw') }}" class="navbar-item">
                                    View Raw Vehicle Info
                                </a>
                           {% endif %}
				
                           {% if current_user.is_authenticated %}
                                <a href="{{ url_for('logout') }}" class="navbar-item">
                                    Logout
                                </a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                                <a href="{{ url_for('index') }}" class="navbar-item">
                                    Welcome {{ current_user.username }}
                                </a>
                           {% endif %} 
            </div>
       </div>
      </nav>

        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>

