
{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-info">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}

        <form method="POST" action="/register">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="username" placeholder="Username" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Password" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email_address" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="phone_number" placeholder="Phone Number" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="vehicle_number" placeholder="Vehicle Number">
                </div>
            </div>

            <div class="field">
                <div class="control">
		        <div class="select is-large">
      			    <select name="role">
			    <option>user</option>
			    <option>admin</option>
      			    </select>
    			</div>
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Register User</button>
        </form>
    </div>
</div>
{% endblock %}
